# Cusomized Section
*.txt
*.png
*~
*.pdf
*.jpeg
*.mp4
*.grd
*.gri
case*
.*
*.a
*.orig
out/
build/
Makefile
out/**
src/Makefile
src/cmake_install.cmake
config.xml
cmake_install.cmake
commands
*.o
*.so
*.csv
*os*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
